.synth-shell {
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f7f7f7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 75vw;
  align-items: center;
  margin-top: 100px;
  padding: 20px;
  flex-direction: column;
    margin: auto;

  .synth {
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: auto;
    background-color: #f7f7f7;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    height: 50vh;
    

    .buttons {
      display: flex;
      justify-content: center;
      padding-top: 10px;
    }
  }

  button {
    border: none;
    border-radius: 10px;
    background-color: #007aff;
    font-weight: bold;
    width: 50px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
  }

  .synth-shell button:hover {
    background-color: #0069d9;
  }
.powerButton {
  margin: 10px 0px 2rem 0px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  border: none;
  cursor: pointer;
}

.powerButton.on {
  background-color: #007aff;
}

.powerButton.off {
  background-color: #ccc;
}

.powerButton.on:hover {
  background-color: #0069d9;
}

.powerButton.off:hover {
  background-color: #aaa;
}
}